

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Air Pollution Index (AirPI) System</title>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            background: #000000 url(../img/loading.gif) center center no-repeat;
            color: #ffffff;
            font-family: sans-serif;
            font-size: 13px;
            line-height: 20px;
            height: 100%;
        }

        #info {

            font-size: 11px;
            position: absolute;
            bottom: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 3px;
            right: 10px;
            padding: 10px;

        }

        #currentInfo {
            width: 270px;
            position: absolute;
            left: 20px;
            top: 63px;

            background-color: rgba(0, 0, 0, 0.2);

            border-top: 1px solid rgba(255, 255, 255, 0.4);

        }

        a {
            color: #aaa;
            text-decoration: none;
            font: 20px Georgia;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.2);
        }

        a:hover {
            text-decoration: underline;
        }

        .bull {
            padding: 0 5px;
            color: #555;
        }

        #title {
            position: absolute;
            top: 20px;
            width: 270px;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            font: 20px Georgia;
            padding: 10px;
        }

        .year {
            font: 16px Georgia;
            line-height: 26px;
            height: 30px;
            text-align: center;
            float: left;
            width: 90px;
            color: rgba(255, 255, 255, 0.4);

            cursor: pointer;
            -webkit-transition: all 0.1s ease-out;
        }

        .year:hover, .year.active {
            font-size: 23px;
            color: #fff;
        }

        #ce span {
            display: none;
        }

        #ce {
            width: 107px;
            height: 55px;
            display: block;
            position: absolute;
            bottom: 15px;
            left: 20px;
            background: url(../img/ce.png);
        }


        #map {
            height: 48%;
            width:29%;
            top:343px;
            left:11px;
        }
        #floating-panel {
            position: absolute;
            top: 612px;
            left: 1%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }


        .vcenter
        {
            border: solid 1px;
            border-color: grey;
            padding: 25px;
            position:relative;
            margin: 10% ;

            background-color: yellow;
        }

        .row_vcenter {
            margin: 5% auto;
            width: 60%;
            border: 3px #73AD21;
            padding: 40px;
            background-color: grey;
        }

    </style>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="images/ico/favicon.ico">




</head>
<body>


<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
                    <span  class="brandName">

                            AirPI
                    </span>

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-menu"></i>
            </button>
            <!-- Main navigation -->
            <div class="nav-collapse collapse pull-right">
                <ul class="nav" id="top-navigation">

                    <li class="active"><a href="/home"  data-toggle="modal" data-target="#loginModal">Home</a></li>
                    <li><a href="/logout">Logout</a></li>

                </ul>
            </div>

        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>
<script src="js/myScript.js"></script>
<script src="js/ajaxGetPost.js" type="text/javascript"></script>

<script>
        function prediction_charts(data,ChartType)
        {
            var chart_type=ChartType;
            var jsonData=data;
            if(ChartType=="TableChart")
                google.load("visualization", "1", {packages:['table'], callback: drawTable});
            else if(ChartType=="TableChartOne")
                google.load("visualization", "1", {packages:["corechart"], callback: drawTableOne});
            else if(ChartType=="LineChart")
                google.load("visualization", "1", {packages:["line"], callback: drawHistoryLineChart});

            function drawTableOne() {

                tableDataOne = new google.visualization.DataTable();
                tableDataOne.addColumn('string','More Polluted City');
                tableDataOne.addColumn('number',"Country's AQI");

                $.each(jsonData, function(i,jsonData)
                {
                    var city_b=jsonData.city;
                    var aqi=jsonData.c_aqi;
                    tableDataOne.addRows( [[city_b,aqi]]);
                });

                //alert(tableData.getValue(0, 0));
                var tableOptions = {
                    title : "Table with Best Cities",
                    showRowNumber: true,
                    width: '900',
                    height: '500'
                };

                var table;

                table = new google.visualization.Table(document.getElementById('tableone_div'));
                table.draw(tableDataOne, tableOptions);
            }


            function drawTable() {

                tableData = new google.visualization.DataTable();
                tableData.addColumn('string','Less Polluted City');
                tableData.addColumn('number',"Country's AQI");

                $.each(jsonData, function(i,jsonData)
                {
                    var city_b=jsonData.city;
                    var aqi=jsonData.c_aqi;
                    tableData.addRows( [[city_b,aqi]]);
                });

                //alert(tableData.getValue(0, 0));
                var tableOptions = {
                    title : "Table with Best Cities",
                    showRowNumber: true,
                    width: '900',
                    height: '500'
                };

                var table;

                table = new google.visualization.Table(document.getElementById('table_div'));
                table.draw(tableData, tableOptions);
            }

            function drawHistoryLineChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Timestamp');
                data.addColumn('number', 'b_aqi');
                data.addColumn('number', 'c_aqi');

                $.each(jsonData, function(i,jsonData)
                {
                    var bprediction=jsonData.b_aqi;
                    var year=jsonData.timestamp;
                    var cprediction = jsonData.c_aqi
                    data.addRows([ [year, bprediction,cprediction]]);
                });

                var options = {
                    title: 'Hour-wise Prediction of B & C AQI',
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    width: '800',
                    height: '500'
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                chart.draw(data, options);
            }
        }

        $(document).ready(function ()
        {
            url='js/test1.json';
            ajax_data('GET',url, function(data)
            {
                prediction_charts(data,"TableChartOne");

            });

            url_predictionGauge='js/test.json';
            ajax_data('GET',url_predictionGauge, function(data)
            {
                prediction_charts(data,"TableChart");

            });

            url_predictionHistory='js/aqi.json';
            ajax_data('GET',url_predictionHistory, function(data)
            {
                prediction_charts(data,"LineChart");
                //prediction_charts(data,"ColumnChart");
            });
        });

    </script>



<div class="row_vcenter" id="curve_chart"></div>

<div class="row_vcenter" id="table_div" ></div>

<div  class="row_vcenter" id="tableone_div"></div>


<div id="tabulardata">
    2D data here
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>


</body>
</html>
