<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Air Pollution index ,Air Quality ,Pollution,Pollution levels,Pollution Parts per million,Health,Dominant Pollutant
        C02,NO2">
    <title>Air Pollution Index (AirPI) System</title>
    <style type="text/css">
        html {
            height: 100%;
        }
        body {
            margin: 0;
            padding: 0;
            background: #000000 url(../public/globe/ce.png) center center no-repeat;
            color: #ffffff;
            font-family: sans-serif;
            font-size: 13px;
            line-height: 20px;
            height: 100%;
        }
        #info {
            font-size: 11px;
            position: absolute;
            bottom: 5px;
            background-color: rgba(0,0,0,0.8);
            border-radius: 3px;
            right: 10px;
            padding: 10px;
        }
        #currentInfo {
            width: 270px;
            position: absolute;
            left: 20px;
            top: 63px;
            background-color: rgba(0,0,0,0.2);
            border-top: 1px solid rgba(255,255,255,0.4);
            padding: 10px;
        }
        a {
            color: #aaa;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .bull {
            padding: 0 5px;
            color: #555;
        }
        #title {
            position: absolute;
            top: 20px;
            width: 270px;
            left: 20px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 3px;
            font: 20px Georgia;
            padding: 10px;
        }
        .year {
            font: 16px Georgia;
            line-height: 26px;
            height: 30px;
            text-align: center;
            float: left;
            width: 90px;
            color: rgba(255, 255, 255, 0.4);
            cursor: pointer;
            -webkit-transition: all 0.1s ease-out;
        }
        .year:hover, .year.active {
            font-size: 23px;
            color: #fff;
        }
        #ce span {
            display: none;
        }
        #ce {
            width: 107px;
            height: 55px;
            display: block;
            position: absolute;
            bottom: 15px;
            left: 20px;
            background: url(../public/loading.gif);
        }
    </style>





        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
        <link rel="stylesheet" type="text/css" href="css/animate.css" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
        <link rel="shortcut icon" href="images/ico/favicon.ico">




</head>
<body>


<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
                    <span  class="brandName">

                           <a href="/">
                            AirPI
                        </a>

                    </span>
            <!-- Navigation button, visible on small resolution -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-menu"></i>
            </button>
            <!-- Main navigation -->
            <div class="nav-collapse collapse pull-right">
                <ul class="nav" id="top-navigation">
                    <li><a href="/home"  data-toggle="modal" data-target="#loginModal">Home</a></li>
                    <li><a href="/home" data-toggle="modal" data-target="#signupModal">2D</a></li>
                    <li><a href="/chooseCity">Choose City</a></li>
                    <li><a href="/logout">Logout</a></li>


                </ul>
            </div>
            <!-- End main navigation -->
        </div>
    </div>
</div>



<div id="container"></div>

<div id="info">
    <strong><a href="http://www.chromeexperiments.com/globe"></a>World Pollution Index</strong> <span class="bull">&bull;</span>
</div>

<div id="currentInfo">
    <span id="year1990" class="year"></span>
    <span id="year1995" class="year"></span>
    <span id="year2000" class="year"></span>
</div>


<a id="ce" href="http://www.chromeexperiments.com/globe">
    <span>This is a Chrome Experiment</span>
</a>

<script type="text/javascript" src="externals/Detector.js"></script>
<script type="text/javascript" src="externals/three.min.js"></script>
<script type="text/javascript" src="externals/Tween.js"></script>
<script type="text/javascript" src="externals/globe.js"></script>
<script type="text/javascript" src="externals/jquery.min.js"></script>
<script type="text/javascript">
    if(!Detector.webgl){
        Detector.addGetWebGLMessage();
    } else
    {
        var years = ['1990','1995','2000'];
        var container = document.getElementById('container');
        var globe = new DAT.Globe(container);
        console.log(globe);
        var i, tweens = [];

        var settime = function(globe, t) {
            return function() {
                new TWEEN.Tween(globe).to({time: t/years.length},500).easing(TWEEN.Easing.Cubic.EaseOut).start();
                var y = document.getElementById('year'+years[t]);
                if (y.getAttribute('class') === 'year active') {
                    return;
                }
                var yy = document.getElementsByClassName('year');
                for(i=0; i<yy.length; i++) {
                    yy[i].setAttribute('class','year');
                }
                y.setAttribute('class', 'year active');
            };
        };

        for(var i = 0; i<years.length; i++) {
            var y = document.getElementById('year'+years[i]);
            y.addEventListener('mouseover', settime(globe,i), false);
        }

        var xhr;
        TWEEN.start();


        xhr = new XMLHttpRequest();
        xhr.open('GET', 'globe/population909500.json', true);
        xhr.onreadystatechange = function(e) {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    window.data = data;
                    for (i=0;i<data.length;i++) {
                        globe.addData(data[i][1], {format: 'magnitude', name: data[i][0], animated: true});
                    }
                    globe.createPoints();
                    settime(globe,0)();
                    globe.animate();
                    document.body.style.backgroundImage = 'none'; // remove loading
                }
            }
        };
        xhr.send(null);
    }
</script>





</body>

</html>